a {
    color: #3bd4a1;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.para1{
    background-color: black;
    color: wheat;
}

.paraborder{
    border: 1px solid #cc3333;
}